*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: grid;
    grid-gap: 1rem;
    height: 570px;
    grid-template-areas: 
    'heading navbar navbar navbar'
    'section1 section1 aside aside';
}
#heading::before{ 
    content: "";
    position: absolute;
    background: url(../bg1.jpg) no-repeat center  center/cover;
    height: 552px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.90;
}
#heading{
    margin: 20px 40px;
    text-shadow: 2px 5px 3px red;
    height: 50px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: blueviolet;
}
#navbar{
grid-area: navbar;
margin: 20px;
margin-top: 32px;
display: flexbox;
height: 60px;
background-color: rgb(204, 195, 195);
border-radius: 15px;
border: 3px solid rgb(47, 2, 90);
color:rgb(21, 50, 180);
font-weight: bolder;
padding: 10px;
padding-top: 15px;
}
#bar{
    position: absolute;
    right: 35px;
    top: 53px;
    color: black;
}
#bar:hover{
    color: white;
    cursor: pointer;

}
#bar_item{
    display: none;
    border: 3px solid black;
    box-shadow: 6px 6px rebeccapurple;
    padding-left: 15px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
    background-color: rgb(160, 116, 202);
    height: 95px;
    width:90px;
    position: absolute;
    right: 20px;
    top: 90px;
    border-radius: 16px;
}
#bar_item a{
    text-decoration: none;
}
#bar_item a:hover{
    cursor: pointer;
    color: white;
}
#aside{
    display: flex;
    grid-area: aside;
    align-items: center;
    justify-content: center;
    margin-left: 170px;
}
#section1{
    display: flex;
    grid-area: section1;
    flex-direction: column;
    justify-content: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    position: absolute;
    top: 246px;
    left: 52px;

}

#footer{
display: flex;
position: absolute;
top:160%;
align-items: center;
justify-content: center;
margin:0px;
width: 100%;
background-color:black;
opacity:1;
height: 80px;
}
.item{
    margin-right: 30px;
    font-size: 20px;
}

.icon{
    margin-right: 30px;
}
.copy{
    margin-right: 30px;
}
.icon:hover{
    opacity: 0.7;
}
#navbar input{
    float: right;
    border-radius: 20px;
    height: 25px;
    width: 210px;
    padding-left: 15px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#navbar span{
    overflow: auto;
}
#navbar span a{
    text-decoration: none;
}
#navbar span a:hover {
    color: white; 
}
.FinalCall{
    background-color: rgb(168, 164, 162);
    width: 80px;
    height:30px;
    font-family: Algerian;
    font-weight: bold;
    font-size:100% ;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

.Round{
    border-radius: 20px;
    padding-left: 5px;
}

#aside table{
    position: absolute;
    right:96px;
    top: 225px;
    width: 300px;
    height: 150px;
}
#para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color:rgb(223, 82, 16);
    text-shadow: 2px 3px 5px white;

}
#para a{
    text-decoration: none;
}
#set{
    text-shadow: 4px 3px 2px white;
}
#rec_cources{
    margin: 34px;
    display: flex;
}
#rec_cources .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#rec_cources .box a{
    text-decoration: none;
    color: black;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bolder;
}

#rec_cources .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#cources h1{
    display: block;
    text-align: center;
    font-size: 40px;
}
#cources div div img{
    border-radius: 20px;
}
.center{
    text-align: center;
}
