*{
    margin:0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    height: 80px;
}

.nav-list{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 20px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px 2px 2px 2px;
}

.nav-list li a:hover{
    text-decoration: none;
    color: red;
}

.rightnav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height:100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    max-width: 50%;
    height: 80%;
}

.firstHalf{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.secondHalf{
    width: 30%;
}

.secondHalf img{
    height: 80%;
    width: 110%;
    border: 2px solid red;
    border-radius: 50px;
    display: block;
    margin: auto;
    margin: 20px;
}

.text-big{
    font-size: 41px;
}
.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 03px;
    border: 2px solid red;
    border-radius: 20px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    border: 2px solid red;
    border-radius: 20px;
    background: none;
    color: white;
    cursor: pointer;
}

.section{
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}
.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.sectionSubtag{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.thumbnail img{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    border-radius: 20px;
    margin-top: 19px;
}

.sectionTag{
    padding: 5px 0;
}

.contact{
    background-color: rgb(247, 237, 225);
    height: 833px;
}
.text-center{
    text-align: center;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}
h3{
    text-align: center;
    text-decoration: underline overline;
}
.form{
    max-width: 1100px;
    margin: 7px auto;
}
.form-input{
    margin: 12px 0;
    width: 100%;
    font-size: 17px;
    border: 2px solid grey; 
    border-radius: 8px;
    padding: 5px 3px;
    font-family: 'Times New Roman', Times, serif;
}
.btn-dark{
    color: black;
    border:1px solid red;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.5s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 69px;
    }
    .v-class{
        opacity: 0;
    }
}