/* BODY */


/* NAVIGATION */
.navbar {
    background-color: white !important;
    /* border-bottom: 3px solid #204977; */
}
ol{
    list-style: none;
    padding: 16px;
 margin: 0;
}
li{
    display: inline;
    padding: 20px;
}
.nav-item {
    padding-left: 12px;
    padding-right: 12px;
}
.navbar-dead{
    background-color: #F7941D ;
    text-align: center;
    color: white;
}
.navbar-deads{
    background-color: #dc3545;
    text-align: center;
    color: white;
    padding: 10px;
}

.btn-outline-primary {
    margin-left: 25px;
}
.navbar-light .navbar-toggler {
    font-weight: bold;
    border:none;
}
/* HEADER */
/* SECTION */
.section-title-divider {
    width: 50px;
    height: 3px;
    background: #03C4EB;
    margin: 0 auto;
    margin-bottom: 20px;
}

.collapsible {
	background-color: white;
	cursor: pointer;
	padding: 18px;
	width: 80%;
	border: none;
    border-left: 5px solid #f82249;
	text-align: left;
	outline: none;
	font-size: 15px;
	margin-bottom: 0;
}

.collapsible:after {
	content: '\002B';
	color: #f82249;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	
}

.actives:after {
	content: "\2212";
}

.content {
	border-left: 5px solid 	#696969;
	max-height: 0;
    margin:auto;
	width: 80%;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: white;
    margin-top: 0;
    margin-bottom: 6px;
	
}
button:focus {
    outline: none !important;
  
}
/* FOOTER */
footer {
    background-color: #101522;
    color: white;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;

    color: #f82249;
}
.fab {
    font-size: 26px;
}

#logo1 {
    height: 80.156px;
    width: 80px;
    margin: 0 15px 10px 0;
}

#logo2 {
    height: 80.156px;
    width: 80px;
    margin-bottom: 10px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 991.98px) {
    footer {
        text-align: center;
    }
    .collapsible{
        width: 100%;
        margin:auto;
    }
    .content{
        width: 100%;
        margin: 2px auto;
    }
}